// Widescreens
@include mediaSmall {
    main#home h1 {
        margin-top: 10vh;
    }
}

// Desktops & laptops
@include mediaMedium {
    main {
        align-items: center;
        text-align: center;

        .large-heading {
            line-height: 1;
            margin-bottom: 1.5rem;
        }

        .icons {
            margin-left: -5rem;
        }
    }

    ul.menu-nav, div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;
        
        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 70vh;
        transform: translate3d(-100%, 0, 0);
    }

    .menu-branding {
        height: 30vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            height: 30vh - 7vh;
            width: 30vh - 7vh;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }
}

// Tablets & small laptops 
@include mediaLarge {
    
}

// Smartphones
@include mediaXLarge {
    
}